
<div>
  
    <div class="col">
      {{#if user}}
        <p>Welcome to Travel Safe, {{user.name}}</p>
      {{/if}}
    </div>


  <div class="container">
    <div clas="col">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    
  </div>

  <div class="containter text-center">
    {{!-- <div class="col city-select "> --}}
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-8 col-xl-6">
          <p class="select-title">PLEASE, SELECT THE CITY YOU WANT TO CHECK</p>
          <select class="form-control" id="cities-full-list">
            <option selected >Select a city</option> 
          </select>
          <button class="btn btn-outline-info" type="submit" id="get-city-button">TAKE ME THERE</button>
        </div>
      </div>

    {{!-- </div> --}}
  </div>


  
  
  </div>




