
{{#if user}}
<a href="/log-out">Log out</a>
<p>Welcome, {{user.name}}</p>



{{else}}
<a href="/log-in">Log in</a>
<a href="/sign-up">Sign up</a>
{{/if}}

<select id="cities-full-list">
  <option selected >Select a city</option> 
  {{!-- intercambiar Bilbao y Logroño --}}
</select>
