
<div class="container">
  
  <div class="row">
    <div class="col mt-5">
      {{#if user}}
        <p>Welcome to Travel Safe, {{user.name}}</p>
      {{/if}}
    </div>
  </div>

    <div class="containter text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-8 col-xl-6">

          {{#if user}}

          <p class="select-title">PLEASE, SELECT THE CITY YOU WANT TO CHECK</p>
          <select class="form-control" id="cities-full-list">
            <option selected disabled>Select a city</option> 
          </select>
          <button class="btn btn-outline-info" type="submit" id="get-city-button">TAKE ME THERE</button>

          {{else}}

            <div class="col card p-3 mb-3 border">
              <p class="text-justify">Travel Safe has been created to help the LGBTQ+ community  get real information about the conditions they can find in their travel destinations thanks to the user comments about real experiences. For the moment, you can find the information about Spain’s most important cities, so you can be aware of what’s waiting for you and change your itinerary if needed.
              </p>
              <p>Hope to help you and enjoy Travel Safe!</p>
            </div>

          <p>IF YOU WANT TO CHECK THE INFO ABOUT THE SPANISH CITIES, PLEASE LOG IN</p>

          {{/if}}

        </div>
      </div>
  </div>




  <div class="container card p-2 mt-3">

        <div class="row justify-content-center text-center mb-2 mt-2">
          <div class="col">
            <h4 class="mb-3">SPAIN LGBTQ+ SITUATION</h4>
            <p>If you want to check the legend of the next information, just click the image.</p>
            <p class="source"><a href="https://www.asherfergusson.com/lgbtq-travel-safety/" target="_blank">Information source</a></p>
          </div>
        </div>

        <div class="row justify-content-center">


              <div class="col-auto spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#marriage-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Marriage.png" alt="marriage"> 
                </div>
                </a>
              </div>
             
              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#worker-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/WorkerProtections.png" alt="worker-protection">
                </div>
                </a>
              </div>

              <div class="col-auto spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#protection-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Discrimination.png" alt="discrimiation">
                </div>
                </a>
              </div>

              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#criminalization-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Violence.png" alt="violence">
                </div>
                </a>
              </div>

          
              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#adoption-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Adoption.png" alt="adoption">
                </div>
                </a>
              </div>

              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#good-place-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Live.png" alt="live">
                </div>
                </a>
              </div>

              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#danger-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/DangerIndex.png" alt="danger-index">
                </div>
                </a>
              </div>

              <div class="col-auto  spain-info-card mb-2">
                <a href="#" data-toggle="modal" data-target="#qualification-info"> 
                <div class="card text-center">
                  <img class="card-img-top" src="/images/Qualification.png" alt="qualifitacion">
                </div>
                </a>
              </div>

        </div>

  </div>

  <div class="modal" id="marriage-info" tabindex="-1" role="dialog" aria-labelledby="marriage-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>MARRIAGE</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="worker-info" tabindex="-1" role="dialog" aria-labelledby="worker-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>WORKER PROTECTION</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="protection-info" tabindex="-1" role="dialog" aria-labelledby="protection-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>PROTECTION AGAINST DICRIMINATION</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="criminalization-info" tabindex="-1" role="dialog" aria-labelledby="criminalization-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>CRIMINALIZATION OF VIOLENCE</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="adoption-info" tabindex="-1" role="dialog" aria-labelledby="adoption-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>ADOPTION RECOGNITION</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="good-place-info" tabindex="-1" role="dialog" aria-labelledby="good-place-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>GOOD PLACE TO LIVE</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="danger-info" tabindex="-1" role="dialog" aria-labelledby="danger-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>DANGER INDEX</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="qualification-info" tabindex="-1" role="dialog" aria-labelledby="qualification-window" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>QUALIFICATION</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="/images/captions/captionLegal.png"/>
            <img src="/images/captions/captionCivilUnion.png"/>
        </div>
      </div>
    </div>
  </div>


</div>




