// @tipo

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

//LAYOUT_________________________________

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 75px 0;
  height: 100%;
}

.travel-icon {
  height: 3rem;
}

.navbar {
  background-color: #17a2b8ff;
  margin-bottom: 10px;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .2);
}

// .city-select {
//   margin: 20px 0;
// }


footer {
  background-color: #e0e0e0;
}

.copyright {
  font-size: .6rem;
  color: #17a2b8ff;
}

.about-us {
  font-size: .7rem;
  color:#17a2b8ff;
  text-decoration: underline;
}

//HOME ______________________________

.select-title {
  margin-top: 30px;
  font-weight: bold;
}

.border {
  border-width: 2px !important;
  border-color: #17a2b8ff !important;
}


// .card-img-top {
//   width: 100%;
//   height: 15vw;
//   object-fit: cover;
// }

// .card-title {
//   width: 100%;
//   height: 30px;
// }

// .spain-info-card {
//   width: 18rem !important;
// }

//LOGIN & SIGNUP_____________________________

.form-control {
  text-align-last: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.error-message-login-signup {
  color: tomato;
}

//MY PROFILE________________________________

.already-visited-title, .wish-to-visit-title {
  background-color: rgba($color: #17a2b8ff, $alpha: .4);
  font-weight: bold;
  color: rgb(65, 62, 62);
}

.list-group-item-action:hover{
  background-color: rgba($color: #17a2b8ff, $alpha: .1);
  font-weight: bold;
}

//CITY________________________________________

.city-title {
  text-transform: uppercase;
}

#my-comments-link {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


.module .comment-collapse.collapse:not(.show) {
  display: block;
  height: 1.5rem;
  overflow: hidden;
}

.module .comment-collapse.collapsing {
  height: 1.5rem;
}

.module a.collapsed::after {
  content: 'Read Comment';
}

.module a:not(.collapsed)::after {
  content: 'Hide Comment';
}

//MY COMMENTS___________________________

// .warning-button {
//   padding: 0 25px;
// }

//CREATE A COMMENT______________________

.add-comment-city-title {
  text-transform: uppercase;
}

.form-control {
  text-align-last: left !important;
}

//TEXT AREA COLOR

textarea {
  box-shadow: 0 1px 1px rgba($color: #17a2b8ff, $alpha: .5) inset, 0 0 8px rgba($color: #17a2b8ff, $alpha: .5);
  outline: 0 none;
}

// .hidden-span-rating {
//   display: ;
// }
