<h2>{{users}}'s countries</h2>

<div class="countries-container">

  <div class="wish-countries">
    <h3>Wish to visit:</h3>
      <ul>
        <li>Países por visitar</li>
      </ul>
  </div>

  <div class="visited-countries">
    <h3>Already visited:</h3>
      <ul>
        <li>Países visitados</li>
      </ul>
  </div>

</div>
