<a href="/">Home</a>

{{#if user}}
<h2>{{user.name}}'s cities</h2>
{{/if}}

<div class="cities-container">

  <div class="wish-cities">
    <h3>Wish to visit:</h3>
      <ul>
        <li>Ciudades por visitar</li>
      </ul>
  </div>

  <div class="visited-cities">
    <h3>Already visited:</h3>
      <ul>
        <li>Ciudades visitadas</li>
      </ul>
  </div>

</div>
