<a href="/">Home</a>

<h2>SIGNUP</h2>


<form ction="/sign-up" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name">

    <br>

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName">

    <br>

    <label for="email">Email: </label>
    <input type="email" name="email" id="email">

    <br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">

    <br>

    <h2>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
    </h2>
    
    <br>

    <button class="button is-primary">Sign up</button>
    
</form>